.catalog__title {
  margin: 60px 0 auto;
  max-width: 1220px;
  font-size: 60px;
  text-transform: none;
}

.catalog__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog__item {
  background-color: #f2f2f2;
  padding: 165px 38px 40px 38px;
  flex-wrap: wrap;
  position: relative;
  width: 245px;
  margin-top: 150px;
}

.catalog__item:last-child {
  background-color: transparent;
  border: 1px solid #cdcdcd;
  padding: 55px 38px 40px 38px;
}

.catalog__picture {
  position: absolute;
  bottom: 305px;
}

.catalog__name {
  font-size: 20px;
  color: #111111;
  line-height: 1;
  text-align: center;
  max-width: 140px;
  width: 100%;
  margin: 0 auto;
}

.catalog__table {
  margin-top: 16px;
  border-spacing: 20px;
  border-collapse: collapse;
  margin-bottom: 33px;
}

.catalog__string {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cdcdcd;
  padding: 7px 0;
  width: 168px;
  max-width: 100%;
}

.catalog__cell {
  font-size: 16px;
  font-family: "Arial", sans-serif;
  text-transform: none;
  color: #444444;
  line-height: 1;
  text-align: right;
}

.catalog__btn {
  height: 40px;
  font-size: 16px;
  color: #ffffff;
  background-color: #68b738;
  margin-top: auto;
  width: 100%;
}

.catalog__btn:hover,
.catalog__btn:focus {
  color: #ffffff;
  background-color: #5eaa2f;
}

.catalog__btn:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}

.catalog__description {
  font-size: 16px;
  font-family: "Arial", sans-serif;
  color: #444444;
  line-height: 1.2;
  text-align: center;
  text-transform: none;
  margin: 16px 0 80px 0;
}

.catalog__btn--disabled {
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  color: #444444;
  background-color: #f2f2f2;
  line-height: 1.25;
  width: 100%;
  height: 40px;
  margin-top: auto;
}

.catalog__btn--disabled:hover {
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  color: #444444;
  text-transform: uppercase;
  line-height: 1.25;
  background-color: #ebebeb;
}

.catalog__btn--disabled:active {
  opacity: 0.3;
  background-color: #ebebeb;
}

.catalog__plus {
  margin: 6px auto 55px;
}

.catalog__pic-align {
  margin: 0 auto;
}

@media (max-width: 1220px) {
  .catalog__title {
    max-width: 950px;
  }
}

@media (max-width: 1024px) {
  .catalog__title {
    max-width: 780px;
  }
}

@media (max-width: 812px) {
  .catalog__title {
    max-width: 708px;
    margin-top: 44px;
  }

  .catalog__item {
    width: 324px;
    max-width: 100%;
  }

  .catalog__string {
    width: 250px;
  }
}

@media (max-width: 667px) {
  .catalog__title {
    max-width: 400px;
  }
}

@media (max-width: 414px) {
  .catalog__title {
    max-width: 280px;
    margin-top: 16px;
  }

  .title {
    font-size: 36px;
  }

  .catalog__item {
    margin-top: 25px;
    width: 280px;
  }

  .catalog__name {
    margin-left: 140px;
    text-align: left;
    font-size: 16px;
    width: 100px;
  }

  .catalog__product {
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    max-width: 280px;
    width: 100%;
  }

  .catalog__string {
    width: 200px;
  }

  .catalog__picture {
    width: 30%;
    bottom: 84px;
    left: 25px;
  }

  .catalog__plus {
    width: 15%;
    margin: 0px auto 25px auto;
  }

  .catalog__item {
    padding: 0;
    padding-top: 26px;
    background-color: inherit;
    border-top: 1px solid #f2f2f2;
  }

  .catalog__item:last-child {
    background-color: transparent;
    border: none;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    padding-left: 0;
    padding-right: 0;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .catalog__description {
    font-size: 12px;
    margin-bottom: 20px;
  }

  .catalog__table {
    margin-left: 140px;
    margin-bottom: 25px;
  }

  .catalog__string {
    width: 140px;
    border-bottom: none;
    padding: 2px 0;
  }

  .catalog__cell {
    font-size: 12px;
  }
}
