.more-goods__title {
  font-size: 36px;
  font-family: "Oswald";
  color: #111111;
  text-align: left;
  text-transform: none;
  margin: 53px auto 74px auto;
  position: relative;
  z-index: 300;
}

.more-goods__title::before {
  content: "";
  position: absolute;
  top: 31px;
  left: -40px;
  width: 416px;
  height: 3px;
  background-color: #ffffff;
  z-index: -100;
}

.more-goods__line {
  border-bottom: 3px solid #68b738;
  position: relative;
  top: 87px;
  z-index: 100;
}

.more-goods__flex-cont {
  display: flex;
  justify-content: space-between;
}

.more-goods__table {
  width: 895px;
  max-width: 100%;
  border-top: 1px solid #cdcdcd;
}

.more-goods__table td:nth-child(4) {
  text-align: right;
}

.more-goods__name {
  font-size: 20px;
  color: #222222;
  text-align: left;
}

.more-goods__cell {
  text-transform: none;
  font-size: 16px;
  font-family: "Arial";
  color: #444444;
  padding: 16px 0;
}

.more-goods__name,
.more-goods__cell {
  border-bottom: 1px solid #cdcdcd;
}

.more-goods__btn {
  background-color: #68b738;
  width: 245px;
  height: 40px;
  font-size: 16px;
  font-family: "Oswald";
  color: #ffffff;
  line-height: 1.25;
  text-align: center;
  padding: 10px 90px;
}

.more-goods__gift {
  background-image: url(../../img/gift-photo-desktop.png);
  background-repeat: no-repeat;
}

.more-goods__gift {
  padding: 35px;
}

.more-goods__offer {
  font-size: 16px;
  font-family: "Arial";
  color: #ffffff;
  line-height: 1.2;
  text-align: center;
  text-transform: none;
  width: 160px;
}

.more-goods__gift-pic {
  margin: 30px auto 65px auto;
}
