.categories {
  display: flex;
  justify-content: space-between;
}

.categories__card {
  padding: 68px 56px 62px 52px;
  background-color: #f2f2f2;
  max-width: 570px;
  margin: 80px 0 55px 0;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.categories__card:nth-child(1) {
  background-image: url(../img/cat-slim.png);
  background-position: 52px 42px;
}

.categories__card:nth-child(2) {
  background-image: url(../img/weight-cat.png);
  background-position: 34px 46px;
}

.categories__subtitle {
  font-size: 36px;
  margin: 0 0 66px 162px;
}

.categories__description {
  font-size: 16px;
  margin-bottom: 26px;
}

.categories__button {
  font-size: 20px;
  background-image: url(../img/right-arrow.svg);
  background-repeat: no-repeat;
  background-position: 132px;
  width: 190px;
  text-align: left;
  margin-top: auto;
}

.categories__button:hover {
  background-image: url(../img/right-arrow-verylong.png);
}

.categories__button:active {
  opacity: 0.3;
  outline: none;
}

@media (max-width: 1220px) {
  .categories {
    flex-direction: column;
  }

  .categories__card {
    max-width: 100%;
  }

  .categories__card {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .categories__card:first-child {
    margin-bottom: 20px;
  }
  .categories__subtitle {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .categories__card {
    max-width: 708px;
    width: 100%;
    padding: 68px 56px 62px 52px;
    margin-bottom: 26px;
  }

  .categories__description {
    max-width: 342px;
    margin-bottom: 50px;
  }

  .categories__card:nth-child(1) {
    background-image: url(../img/cat-slim.200.png);
    background-position: 350px 19px;
  }

  .categories__card:nth-child(2) {
    background-image: url(../img/cat-pro-200.png);
    background-position: 350px 19px;
  }
}

@media (max-width: 667px) {
  .categories__subtitle {
    font-size: 24px;
    margin-left: 90px;
    margin-bottom: 40px;
  }
  .categories__card:nth-child(1) {
    background-image: url(../img/cat-slim-mobile.png);
    background-position: 23px 25px;
  }

  .categories__card:nth-child(2) {
    background-image: url(../img/cat-weight-mobile.png);
    background-position: 12px 25px;
  }

  .categories__card {
    max-width: 100%;
    width: 100%;
    padding: 40px 25px 23px 20px;
    margin-bottom: 26px;
  }

  .categories__description {
    max-width: 100%;
    margin-bottom: 26px;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 24px;
  }
}

@media (max-width: 414px) {
  .categories__card {
    max-width: 280px;
  }

  .categories__description {
    max-width: 240px;
  }
}
