.example__title {
  margin-top: 110px;
}

.example__wrap {
  background-color: #f2f2f2;
  padding-top: 76px;
}

.example__container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1220px;
}
.example__description {
  max-width: 430px;
  margin-top: 55px;
}

.example__means {
  display: flex;
  justify-content: space-between;
  max-width: 367px;
  margin-top: 70px;
}

.example__mean {
  width: 162px;
  height: 72px;
  border-radius: 3px;
  background-color: #f2f2f2;
  border: 1px solid #cdcdcd;
}

.example__main-text {
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  margin-top: 14px;
}

.example__secondary-text {
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  font-family: "Arial", sans-serif;
  text-align: center;
  text-transform: none;
  position: relative;
  top: 10px;
  z-index: 100;
}
.line-weight,
.line-time {
  position: relative;
  z-index: 200;
}

.line-weight::after {
  content: "";
  position: absolute;
  width: 115px;
  height: 12px;
  background: #f2f2f2;
  top: 65px;
  left: 23px;
}

.line-time::after {
  content: "";
  position: absolute;
  width: 139px;
  height: 12px;
  background: #f2f2f2;
  top: 65px;
  left: 10px;
}

.example__total {
  display: flex;
  justify-content: space-between;
  max-width: 332px;
  width: 100%;
  margin-top: 50px;
}

.example__sum {
  font-size: 20px;
}

/* slider */

.example__slider-wrap {
  position: relative;
  width: 670px;
  height: 500px;
  bottom: 205px;
  left: 20px;
}

.example__before {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  background-color: #f2f2f2;
  z-index: 100;
}

.example__before::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 129px;
  background-color: #f6f6f6;
  z-index: -100;
}

.example__before-cat {
  max-width: none;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 428px;
  max-width: 100%;
  height: 6px;
  background: #dcdcdc;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin: 0 25px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 34px;
  height: 34px;
  border-radius: 20px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  background: #ffffff;
  background-image: url(../img/point.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 34px;
  height: 34px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  background: #ffffff;
  cursor: pointer;
}

.example__controls {
  margin-top: 40px;
  text-align: center;
}

.example__btn {
  font-size: 20px;
  position: relative;
  z-index: 100;
  border-bottom: 1px dotted #818181;
}

.example__btn:hover {
  border-bottom: 1px solid #818181;
}

.example__btn:active {
  border-bottom: none;
}
