.footer {
  position: relative;
  bottom: 201px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__item {
  margin-left: 30px;
}
.footer__item:last-child {
  margin-right: 0;
}
.copyright__text {
  margin-right: 30px;
  font-size: 16px;
  font-family: "Arial",sans-serif;
  color: #444444;
  line-height: 1;
  text-align: right;
  text-transform: none;
}
